<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Attendance Management System</title>
<link href="/front/assets/img/favicon.png" rel="icon">
<link href="/front/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">
<link href="/front/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/front/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/front/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/front/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/front/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link href="/front/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link href="/front/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">
<link href="/front/assets/css/style.css" rel="stylesheet">

<script>
	function preventBack() {
		window.history.forward();
	}

	setTimeout("preventBack()", 0);

	window.onunload = function() {
		null
	};
</script>


</head>

<body style="overflow: hidden;">
	<main id="main" class="main">
		<div class="row">
			<div class="col-xl-8 col-lg-6 col-sm-8 pl-0 pr-0">
				<div class="image-wrapper">
					<img src="front/assets/img/gvp.jpg" alt="Vidyapith Logo"
						class="img-fluid w-100 h-100">
				</div>
			</div>

			<div class="col-xl-4 col-lg-6 col-sm-4 d-flex align-items-center">
				<div class="wrapper">
					<div class="toast-container">
						<div id="customToast" class="toast" role="alert"
							aria-live="assertive" aria-atomic="true">
							<div class="toast-body">
								<div class="alert alert-danger alert-dismissible fade show"
									role="alert">
									<i class="fas fa-exclamation-triangle text-danger"></i> <span
										class="text-danger" id="alertMessage" style="font-size: 14px;"
										th:text="${error}"></span>
									<button type="button" class="btn-close" data-bs-dismiss="toast"
										aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>

					<div class="form-container">
						<div class="form-icon">
							<i class="fas fa-user-graduate fa-5x"></i>
						</div>

						<form class="row mb-3" action="/login" method="post"
							id="loginForm" onsubmit="return validateForm()">
							<div class="form-group">
								<label for="email" class="col-md-12 mb-3"><i
									class="fas fa-envelope"></i> Email</label> <input type="text"
									id="email" name="email">
							</div>
							<div class="form-group">
								<label for="password" class="col-md-12 mb-3"><i
									class="fas fa-key"></i> Password</label>
								<div class="password-container">
									<input type="password" id="password" name="password"> <i
										class="fas fa-eye-slash toggle-password"
										onclick="togglePasswordVisibility('password', this)"></i>
								</div>
							</div>
							<div class="forgot-password">
								<a href="forgotpassword">Forgot Password?</a>
							</div>
							<div class="form-group mt-3">
								<button type="submit" class="btn-submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>

	<script>
		function validateForm() {
			var emailField = document.getElementById("email");
			var passwordField = document.getElementById("password");

			var emailValue = emailField.value.trim();
			var passwordValue = passwordField.value.trim();

			var emailPattern = /^[a-zA-Z0-9._%+-]+@gujaratvidyapith\.org$/;

			if (!emailPattern.test(emailValue) || emailValue === "") {
				var toastMessage = document.getElementById("alertMessage");
				toastMessage.innerText = emailValue === "" ? "Empty email field is not allowed"
						: "Email should be from gujaratvidyapith.org domain";

				var toast = new bootstrap.Toast(document
						.getElementById("customToast"));
				toast.show();

				emailField.focus();
				return false;
			}

			if (passwordValue === "") {
				var toastMessage = document.getElementById("alertMessage");
				toastMessage.innerText = "Password cannot be empty";

				var toast = new bootstrap.Toast(document
						.getElementById("customToast"));
				toast.show();

				passwordField.focus();
				return false;
			}

			return true;
		}

		function resetForm() {
			document.getElementById("loginForm").reset();
		}

		window
				.addEventListener(
						"pageshow",
						function(event) {
							var form = document.getElementById("loginForm");

							if (event.persisted
									|| (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) {
								resetForm();
							}
						});
	</script>


	<script>
		document
				.addEventListener('DOMContentLoaded',
						function() {
							var errorMessage = document
									.getElementById('alertMessage').textContent
									.trim();
							if (errorMessage) {
								var toast = new bootstrap.Toast(document
										.getElementById('customToast'));
								toast.show();
							}
						});
	</script>

	<script>
		function togglePasswordVisibility(inputFieldId, iconElement) {
			var passwordField = document.getElementById(inputFieldId);
			var icon = iconElement;
			if (passwordField.type === "password") {
				passwordField.type = "text";
				icon.classList.remove("fa-eye-slash");
				icon.classList.add("fa-eye");
				setTimeout(function() {
					passwordField.type = "password";
					icon.classList.remove("fa-eye");
					icon.classList.add("fa-eye-slash");
				}, 1500);
			} else {
				passwordField.type = "password";
				icon.classList.remove("fa-eye");
				icon.classList.add("fa-eye-slash");
			}
		}
	</script>

	<script src="/front/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/front/assets/vendor/chart.js/chart.umd.js"></script>
	<script src="/front/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/front/assets/vendor/quill/quill.js"></script>
	<script
		src="/front/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/front/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="/front/assets/vendor/php-email-form/validate.js"></script>
	<script src="/front/assets/js/main.js"></script>
</body>

</html>