<!DOCTYPE html>
<html
  class="loading"
  lang="en"
  data-textdirection="ltr"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>Attendance Management System</title>
    <link href="front/assets/img/favicon.png" rel="icon" />
    <link href="front/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="front/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="front/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="front/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="front/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="front/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="front/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="front/assets/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />
    <link href="front/assets/css/style.css" rel="stylesheet" />

    <script>
      function preventBack() {
        window.history.forward();
      }

      setTimeout("preventBack()", 0);

      window.onunload = function () {
        null;
      };
    </script>
  </head>

  <body style="overflow: hidden">
    <main id="main" class="main">
      <div class="row">
        <div class="col-xl-8 col-lg-6 col-sm-8 pl-0 pr-0">
          <div class="image-wrapper">
            <img
              src="front/assets/img/gvp.jpg"
              alt="Vidyapith Logo"
              class="img-fluid w-100 h-100"
            />
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-sm-4 d-flex align-items-center">
          <div class="wrapper">
            <div class="toast-container">
              <div
                id="customToast"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="toast-body">
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    <i class="fas fa-exclamation-triangle text-danger"></i>
                    <span
                      class="text-danger"
                      id="alertMessage"
                      style="font-size: 14px"
                      th:text="${error}"
                    ></span>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="toast"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-container">
              <div class="form-icon">
                <i class="fas fa-user-secret fa-5x"></i>
              </div>
              <form id="otpForm" action="/verifyotp" method="post">
                <h6 style="text-align: center">
                  Please enter the one-time password to verify
                </h6>
                <input type="hidden" name="email" th:value="${email}" />
                <p
                  id="timer"
                  class="mt-3 text-danger"
                  style="text-align: center"
                ></p>
                <div class="otp-input-group">
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="first"
                    id="first"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="second"
                    id="second"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="third"
                    id="third"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="fourth"
                    id="fourth"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="fifth"
                    id="fifth"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <input
                    class="otp-input form-group"
                    type="text"
                    name="sixth"
                    id="sixth"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                </div>
                <button type="submit" class="btn-custom mb-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script>
      const otpInputs = document.querySelectorAll(".otp-input");

      otpInputs.forEach((input, index) => {
        input.addEventListener("input", (event) => {
          const value = event.target.value;

          if (!/^\d*$/.test(value)) {
            event.target.value = value.replace(/[^\d]/g, "");
          }

          if (event.target.value.length === 1) {
            if (index < otpInputs.length - 1) {
              otpInputs[index + 1].focus();
            }
          }
        });

        input.addEventListener("keydown", (event) => {
          if (event.key === "ArrowRight" || event.key === "ArrowLeft") {
            const nextIndex =
              event.key === "ArrowRight" ? index + 1 : index - 1;
            if (nextIndex >= 0 && nextIndex < otpInputs.length) {
              otpInputs[nextIndex].focus();
            }
          } else if (event.key === "Backspace") {
            if (input.value === "") {
              const prevIndex = index - 1;
              if (prevIndex >= 0) {
                otpInputs[prevIndex].focus();
              }
            }
          }
        });
      });

      function resetForm() {
        document.getElementById("otpForm").reset();
      }

      window.addEventListener("pageshow", function (event) {
        var form = document.getElementById("otpForm");
        if (
          event.persisted ||
          (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2)
        ) {
          resetForm();
        }
      });
    </script>

    <script>
      let timerTime = 59;
      let timerInterval;

      function updateTimer() {
        const minutes = Math.floor(timerTime / 60);
        let seconds = timerTime % 60;
        let secondsFormatted = seconds < 10 ? `0${seconds}` : `${seconds}`;
        document.getElementById(
          "timer"
        ).textContent = `${minutes}:${secondsFormatted}`;
        timerTime--;
        if (timerTime < 0) {
          clearInterval(timerInterval);
          window.location.href = "forgotpassword";
        }
      }

      function startTimer() {
        timerTime = 59;
        if (timerInterval) {
          clearInterval(timerInterval);
        }
        timerInterval = setInterval(updateTimer, 1000);
      }

      document.addEventListener("DOMContentLoaded", function () {
        startTimer();
      });
    </script>

    <script src="front/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="front/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="front/assets/vendor/echarts/echarts.min.js"></script>
    <script src="front/assets/vendor/quill/quill.js"></script>
    <script src="front/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="front/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="front/assets/vendor/php-email-form/validate.js"></script>
    <script src="front/assets/js/main.js"></script>
  </body>
</html>
