<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Attendance Management System</title>
<link href="assets/img/favicon.png" rel="icon" />
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" />

<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet" />

<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet" />
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet" />
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"
	rel="stylesheet" />

<link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
	<div th:replace="~{teacher/nav :: body}"></div>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Take Attendance</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Take Attendance</li>
				</ol>
			</nav>
		</div>

		<section class="section takeAttendance">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="activity">
								<div th:each="attendance : ${attendanceList}">
									<div th:if="${attendance != null}">
										<div class="activity-item d-flex mb-3"
											th:data-attendanceid="${attendance.attendancemasterid.attendancemasterid}"
											th:data-programid="${attendance.attendancemasterid.program.programid}"
											th:data-semesterid="${attendance.attendancemasterid.semester.semesterid}"
											th:data-subjectid="${attendance.attendancemasterid.subject.subjectid}"
											th:data-program="${attendance.attendancemasterid.program.program}"
											th:data-semester="${attendance.attendancemasterid.semester.semester}"
											th:data-subject="${attendance.attendancemasterid.subject.subject}"
											th:data-lecture-date="${#dates.format(attendance.attendanceon, 'dd-MM-yyyy')}"
											th:data-start-time="${attendance?.attendancemasterid?.timetable?.formatStartTime ?: 'N/A'}"
											th:data-end-time="${attendance?.attendancemasterid?.timetable?.formatEndTime ?: 'N/A'}"
											style="cursor: pointer">

											<div class="activite-line"></div>
											<i class="bi bi-circle-fill activity-badge align-self-start"
												th:classappend="${attendance.takeattendancestatus.takeAttendanceStatus == 'hold' ? ' text-warning' : 
                  (attendance.takeattendancestatus.takeAttendanceStatus == 'pending' ? ' text-danger' : 
                  (attendance.takeattendancestatus.takeAttendanceStatus == 'upcoming' ? ' text-muted' : ''))}">
											</i>


											<div class="activity-content"
												th:text="${attendance.attendancemasterid.subject.subjectcode} + ' ' + ${attendance.attendancemasterid.subject.subject}"></div>

											<div class="activite-p"
												th:text="${attendance.attendancemasterid.program.program} + ' ' + ${attendance.attendancemasterid.semester.semester}"></div>

											<div class="activite-p"
												style="width: 150px; text-align: right"
												th:text="${#dates.format(attendance.attendanceon, 'dd-MM-yyyy')}"></div>

											<div class="activite-p"
												style="width: 200px; text-align: right"
												th:text="${attendance?.attendancemasterid?.timetable?.formatStartTime ?: 'N/A'} + ' to ' + (${attendance?.attendancemasterid?.timetable?.formatEndTime ?: 'N/A'})">
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12" id="attendanceTableContainer"
					style="display: none">
					<div class="card">
						<div class="card-body">
							<form class="row mb-3" id="attendanceForm"
								th:action="@{/saveTeacherAttendance}" method="post">
								<input type="hidden" id="attendanceid" name="attendanceid"
									th:value="${attendance?.attendancemasterid?.attendancemasterid ?: ''}">
								<div class="col-4">
									<label for="program" class="col-md-12 mb-3"><i
										class="fas fa-graduation-cap"></i> Program</label> <select
										class="form-select" id="program" name="program"
										onchange="loadSemesters(loadSubjects)" disabled>
										<option value="">Select Program</option>
										<option th:each="program : ${programs}"
											th:if="${program.active}" th:value="${program.programid}"
											th:text="${program.program}"></option>
									</select> <input type="hidden" id="programid" name="programid" />
									<p id="programError" class="error-message"></p>
								</div>

								<div class="col-4">
									<label for="semester" class="col-md-12 mb-3"><i
										class="fa fa-book"></i> Semester</label> <select class="form-select"
										id="semester" name="semester" onchange="loadSubjects()" disabled>
										<option value="">Select Program first</option>
									</select> <input type="hidden" id="semesterid" name="semesterid" />
									<p id="semesterError" class="error-message"></p>
								</div>

								<div class="col-4">
									<label for="subject" class="col-md-12 mb-3"><i
										class="fas fa-book-open"></i> Subject</label> <select
										class="form-select" id="subject" name="subject" disabled>
										<option value="">Select Semester first</option>
									</select> <input type="hidden" id="subjectid" name="subjectid" />
									<p id="subjectError" class="error-message"></p>
								</div>

								<div class="col-md-4">
									<label for="lectureDate" class="form-label"><i
										class="far fa-calendar-alt"></i> Lecture Date</label> <input
										type="date" class="form-control" id="lectureDate"
										name="lectureDate" readonly/>
								</div>

								<div class="col-md-4">
									<label for="startTime" class="form-label"><i
										class="fas fa-hourglass-start"></i> Start Time</label> <input
										type="time" class="form-control" id="startTime"
										name="startTime" readonly/>
								</div>

								<div class="col-md-4">
									<label for="endTime" class="form-label"><i
										class="fas fa-hourglass-end"></i> End Time</label> <input type="time"
										class="form-control" id="endTime" name="endTime" readonly/>
								</div>

								<div class="col-12">
									<div class="col-md-12">
										<div class="custom-radio">
											<input type="radio" id="present" value="present"
												name="attendanceStatus" checked /> <label for="present"
												class="radio-icon"></label> <span class="radio-text">Present</span>
											<input type="radio" id="absent" value="absent"
												name="attendanceStatus" /> <label for="absent"
												class="radio-icon"></label> <span class="radio-text">Absent</span>
										</div>
									</div>

									<input type="hidden" name="attendanceBy" id="attendanceBy"
										th:value="${userDetails.teacherid}" />

									<table class="table-custom">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">Enrollment No</th>
												<th scope="col">Student Name</th>
											</tr>
										</thead>
										<tbody id="studentList"></tbody>
									</table>
								</div>
								<div class="col-12 text-end" id="submitButtonContainer"
									style="display: none">
									<button type="submit" class="btn btn-custom"
										id="submitAttendance" style="width: 150px">Save
										Attendance</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



	<script>
	function loadSemesters(semesterId, callback) {
	    var programId = $("#program").val();
	    if (programId) {
	        $.ajax({
	            type: "GET",
	            url: "/api/activesemester",
	            data: { programId: programId },
	            success: function (data) {
	                var semesterSelect = $("#semester");
	                semesterSelect.empty();
	                semesterSelect.append('<option value="">Select Semester</option>');

	                $.each(data, function (index, semester) {
	                    semesterSelect.append(
	                        '<option value="' + semester.semesterid + '">' + semester.semester + '</option>'
	                    );
	                });

	                if (semesterId) {
	                    semesterSelect.val(semesterId);  // Pre-select semester if provided
	                }

	                if (callback) callback();  // Execute callback after loading semesters
	            },
	            error: function () {
	                alert("Error loading semesters");
	            }
	        });
	    } 
	}

	function loadSubjects(subjectId, callback) {
	    var programId = $("#program").val(); 
	    var semesterId = $("#semester").val();

	    if (programId && semesterId) {
	        $.ajax({
	            type: "GET",
	            url: `/api/subjects/${programId}/${semesterId}`,  
	            success: function (data) {
	                var subjectSelect = $("#subject");
	                subjectSelect.empty();
	                subjectSelect.append('<option value="">Select Subject</option>');

	                $.each(data, function (index, subject) {
	                    subjectSelect.append(
	                        '<option value="' + subject.subjectid + '">' + subject.name + '</option>'
	                    );
	                });

	                if (subjectId) {
	                    subjectSelect.val(subjectId);
	                }

	                if (callback) callback(); 
	            },
	            error: function () {
	                alert("Error loading subjects");
	            }
	        });
	    } 
	}
	
</script>

	<script>
	document.addEventListener("DOMContentLoaded", function () {
		const attendanceInput = document.getElementById('attendanceid');
	    const programSelect = document.getElementById('program');
	    const semesterSelect = document.getElementById('semester');
	    const subjectSelect = document.getElementById('subject');
	    const lectureDate = document.getElementById('lectureDate');
	    const startTime = document.getElementById('startTime');
	    const endTime = document.getElementById('endTime');
	    const attendanceTableContainer = document.getElementById('attendanceTableContainer');
	    const submitButtonContainer = document.getElementById('submitButtonContainer');

	    const activityItems = document.querySelectorAll('.activity-item');

	    activityItems.forEach(item => {
	        item.addEventListener('click', () => {
	        	const attendanceId = item.getAttribute('data-attendanceid');
	            const programId = item.getAttribute('data-programid');
	            const semesterId = item.getAttribute('data-semesterid');
	            const subjectId = item.getAttribute('data-subjectid');
	            const lectureDateValue = item.getAttribute('data-lecture-date');
	            const startTimeValue = item.getAttribute('data-start-time');
	            const endTimeValue = item.getAttribute('data-end-time');

	            attendanceInput.value = attendanceId;
	            // Set program value and trigger change to load semesters
	            programSelect.value = programId || '';
	            $(programSelect).trigger('change'); // Trigger change to load semesters

	            // Once semesters are loaded, set the semester value
	            loadSemesters(semesterId, function () {
	                semesterSelect.value = semesterId || ''; // Set the semester value after loading
	                $(semesterSelect).trigger('change');  // Trigger change to load subjects

	                // After subjects are loaded, set the subject value
	                loadSubjects(subjectId, function () {
	                    subjectSelect.value = subjectId || ''; // Set the subject value after loading
	                    
	                    fetchStudentData(subjectId);
	    	            showAttendanceForm();
	                    
	                });
	            });

	            // Set other values (lectureDate, startTime, endTime)
	            lectureDate.value = lectureDateValue ? convertDateFormat(lectureDateValue) : '';
	            startTime.value = startTimeValue ? convertTo24HourFormat(startTimeValue) : '';
	            endTime.value = endTimeValue ? convertTo24HourFormat(endTimeValue) : '';

	   	        });
	    });

	    function convertDateFormat(date) {
	        const [day, month, year] = date.split('-');
	        return `${year}-${month}-${day}`; 
	    }

	    function convertTo24HourFormat(time) {
	        const [hour, minute, modifier] = time.match(/(\d+):(\d+)\s?(AM|PM)/i).slice(1);
	        let hours24 = parseInt(hour, 10);
	        if (modifier.toUpperCase() === 'PM' && hours24 < 12) hours24 += 12;
	        if (modifier.toUpperCase() === 'AM' && hours24 === 12) hours24 = 0;
	        return `${hours24.toString().padStart(2, '0')}:${minute}`;
	    }

	    function showAttendanceForm() {
	        if (
	            programSelect.value &&
	            semesterSelect.value &&
	            subjectSelect.value &&
	            lectureDate.value &&
	            startTime.value &&
	            endTime.value
	        ) {
	            attendanceTableContainer.style.display = 'block';
	            submitButtonContainer.style.display = 'block';
	        } else {
	            attendanceTableContainer.style.display = 'none';
	            submitButtonContainer.style.display = 'none';
	        }
	    }

	    async function fetchStudentData(subject) {
        try {
            // Convert the values to integers and pass them with the correct parameter names
const response = await fetch(`/api/getStudent?subjectId=${encodeURIComponent(subject)}`);


            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const students = await response.json();
            studentList.innerHTML = ''; // Clear previous content

            students.forEach(student => {
                const row = document.createElement('tr');
                const checkboxCell = document.createElement('td');
                const checkboxDiv = document.createElement('div');
                checkboxDiv.className = 'custom-checkbox';
                checkboxDiv.style.marginTop = '0px';

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = student.studentid;
                checkbox.value = student.studentid;
                checkbox.name = 'studentIds[]';

                const label = document.createElement('label');
                label.setAttribute('for', student.studentid);
                label.className = 'checkbox-icon';

                checkboxDiv.appendChild(checkbox);
                checkboxDiv.appendChild(label);
                checkboxCell.appendChild(checkboxDiv);

                const enrollmentCell = document.createElement('td');
                enrollmentCell.textContent = student.entrollmentno;

                const nameCell = document.createElement('td');
                nameCell.textContent = student.fname + ' ' + student.mname + ' ' + student.lname;

                row.appendChild(checkboxCell);
                row.appendChild(enrollmentCell);
                row.appendChild(nameCell);

                studentList.appendChild(row);
            });
        } catch (error) {
            console.error('Fetch error:', error);
        }
    }

    programSelect.addEventListener('change', showAttendanceForm);
    semesterSelect.addEventListener('change', showAttendanceForm);
    subjectSelect.addEventListener('change', async () => {
        showAttendanceForm();
        await fetchStudentData(subjectSelect.value);
    });
    lectureDate.addEventListener('change', showAttendanceForm);
    startTime.addEventListener('change', showAttendanceForm);
    endTime.addEventListener('change', showAttendanceForm);
});
</script>


	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.umd.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<script src="assets/js/main.js"></script>
</body>
</html>
