<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Attendance Management System</title>
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
	<div th:replace="~{student/nav :: body}"></div>
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Attendance</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Attendance</li>
				</ol>
			</nav>
		</div>

		<section class="section attendance">

			<div class="col-lg-12">

				<div class="card">
					<div class="card-body">
						<table class="table-custom">
							<thead>
								<tr>
									<th scope="col">Subject Code</th>
									<th scope="col">Subject Name</th>
									<th scope="col">Total Lectures</th>
									<th scope="col">Attended Lectures</th>
									<th scope="col">Percentage</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="attendance : ${attendanceList}">
									<td th:text="${attendance.subjectCode}"></td>
									<td th:text="${attendance.subjectName}"></td>
									<td th:text="${attendance.totalLectures}"></td>
									<td th:text="${attendance.attendedLectures}"></td>
									<td
										th:text="${#numbers.formatDecimal(attendance.percentage, 2, 2)} + '%'"></td>
										<td><i class="fa fa-eye" data-bs-toggle="modal"
										data-bs-target="#model"></i></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div class="modal fade" id="model" tabindex="-1">
		<div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">MCA-201(Theory) Mobile Application
						Development</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<table class="table-custom">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Time</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>29-05-2024</td>
								<td>12:30 PM to 1:30 PM</td>
								<td class="text-muted">Present</td>
							</tr>
							<tr>
								<td>30-05-2024</td>
								<td>1:30 PM to 2:30 PM</td>
								<td class="text-danger">Absent</td>
							</tr>
							<tr>
								<td>31-05-2024</td>
								<td>12:30 PM to 1:30 PM</td>
								<td class="text-success"><a href="leave.html"
									class="text-success text-decoration-none">Leave</a></td>
							</tr>
							<tr>
								<td>05-06-2024</td>
								<td>2:30 PM to 3:30 PM</td>
								<td class="text-muted">Present</td>
							</tr>
							<tr>
								<td>06-06-2024</td>
								<td>2:30 PM to 3:30 PM</td>
								<td class="text-muted">Present</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="modal-footer">
					<button class="btn-custom">Download Attendance Report</button>
				</div>

			</div>
		</div>
	</div>


	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.umd.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<script src="assets/js/main.js"></script>

</body>

</html>