<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Attendance Management System</title>
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
	<div th:replace="~{admin/nav :: body}"></div>
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Department</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active">Department</li>
				</ol>
			</nav>
		</div>

		<section class="class section">

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<h5 class="card-title" data-bs-toggle="modal"
								data-bs-target="#addDepartmentModal" style="cursor: pointer;">Add
								Department</h5>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-body">

						<div class="d-flex justify-content-between align-items-center">
							<table class="table-custom">
								<thead>
									<tr>
										<th scope="col">Department</th>
										<th scope="col">Faculty</th>
										<th scope="col">Details</th>
										<th scope="col">Active</th>
										<th scope="col" style="text-align: right; width: 100px;"></th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="department : ${departments}">
										<td th:text="${department.department}"></td>
										<td th:text="${department.faculty.faculty}" th:attr="data-facultyid=${department.faculty.facultyid}"></td>

										<td th:text="${department.details}"></td>
										<td><span class="badge badge-success"
											th:if="${department.active}">YES</span> <span
											class="badge badge-danger" th:unless="${department.active}">NO</span>
										</td>
										<td><i class="fas fa-edit" data-bs-toggle="modal"
											th:data-departmentid="${department.departmentid}"
											data-bs-target="#editdepartmentModal"></i> <i
											class="fas fa-trash-alt" data-bs-toggle="modal"
											th:data-departmentid="${department.departmentid}"
											data-bs-target="#deletedepartmentModal"></i></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<div class="modal fade" id="addDepartmentModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Department</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-container">
						<form id="departmentForm" th:action="@{/addDepartments}"
							method="post" onsubmit="return validateForm('add')">
							<div class="form-group">
								<label for="faculty" class="col-md-12 mb-3"><i
									class="fas fa-city"></i>Faculty</label> <select id="faculty"
									name="faculty">
									<option value="">Select Faculty</option>
									<option th:each="faculty : ${faculties}"
										th:if="${faculty.active}" th:value="${faculty.facultyid}"
										th:text="${faculty.faculty}"></option>
								</select> <input type="hidden" id="facultyid" name="facultyid">
								<p id="facultyError" class="error-message"></p>
							</div>
							<div class="form-group">
								<label for="department" class="col-md-12 mb-3"><i
									class="fas fa-building"></i>Department</label> <input type="text"
									id="department" name="department"
									onblur="validateDepartment('add')">
								<p id="departmentError" class="error-message"></p>
							</div>
							<div class="form-group">
								<label for="details"><i class="fa fa-pencil"></i>Details</label>
								<textarea name="details" id="details" style="height: 100px;"
									onblur="validateDetails('add')"></textarea>
								<p id="detailsError" class="error-message"></p>
							</div>
							<div class="form-group">
								<div class="custom-checkbox"
									style="margin: auto; justify-content: right; align-items: center; display: flex;">
									<input type="checkbox" id="active" name="active" checked>
									<label for="active" class="checkbox-icon"></label> <label
										for="active" style="font-size: 16px;">Active</label>
								</div>
							</div>
							<input type="hidden" name="createdBy" id="createdBy"
								th:value="${userDetails.adminid}"> <input type="hidden"
								name="modifiedBy" id="modifiedBy"
								th:value="${userDetails.adminid}">
							<div class="form-group mt-3">
								<button type="submit" class="btn-submit" id="submitButton">Add
									Department</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editdepartmentModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Department</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-container">
						<form id="editDepartmentForm" th:action="@{/updateDepartments}"
							method="post" onsubmit="return validateForm('edit')">
							<input type="hidden" id="editdepartmentid" name="departmentid">
							<div class="form-group">
								<label for="editfacultyName" class="col-md-12 mb-3"><i
									class="fas fa-city"></i>Faculty</label><select id="editfacultyName" name="faculty">
    <option value="">Select Faculty</option>
    <option th:each="faculty : ${faculties}"
            th:if="${faculty.active}"
            th:value="${faculty.facultyid}"
            th:text="${faculty.faculty}"></option>
</select>

								<p id="editfacultyError" class="error-message"></p>
							</div>
							<div class="form-group">
								<label for="editdepartmentName" class="col-md-12 mb-3"><i
									class="fas fa-building"></i>Department</label> <input type="text"
									id="editdepartmentName" name="department"
									onblur="validateDepartment('edit')">
								<p id="editdepartmentError" class="error-message"></p>
							</div>
							<div class="form-group">
								<label for="editdepartmentDetails"><i
									class="fa fa-pencil"></i>Details</label>
								<textarea name="details" id="editdepartmentDetails"
									style="height: 100px;" onblur="validateDetails('edit')"></textarea>
								<p id="editdetailsError" class="error-message"></p>
							</div>
							<div class="form-group">
								<div class="custom-checkbox"
									style="margin: auto; justify-content: right; align-items: center; display: flex;">
									<input type="checkbox" id="editdepartmentActive" name="active"
										value="true" checked> <label
										for="editdepartmentActive" class="checkbox-icon"></label> <label
										for="editdepartmentActive" style="font-size: 16px;">Active</label>
								</div>
							</div>
							<input type="hidden" name="modifiedBy" id="modifiedBy"
								th:value="${userDetails.adminid}">
							<div class="form-group mt-3">
								<button type="submit" class="btn-submit" id="editButton">Edit
									Department</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deletedepartmentModal" tabindex="-1">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header flex-column">
					<h4>Are you sure?</h4>
				</div>
				<div class="modal-body">
					<p>
						Do you really want to delete this department?<br> This
						process cannot be undone.
					</p>
				</div>
				<div class="modal-footer justify-content-center">
					<form id="deletedepartmentForm" th:action="@{/deleteDepartments}"
						method="post">
						<input type="hidden" id="deletedepartmentid" name="departmentId">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger"
							onclick="deleteDepartment()">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		function validateDropdown(type) {
			const dropdown = document.getElementById(type === 'add' ? 'faculty' : 'editfacultyName');
			const errorElement = document.getElementById(type === 'add' ? 'facultyError' : 'editfacultyError');

			if (dropdown.value === "") {
				errorElement.textContent = 'Please select a faculty';
				return false;
			} else {
				errorElement.textContent = '';
				return true;
			}
		}

		function validateDepartment(type) {
			const department = document.getElementById(type === 'add' ? 'department' : 'editdepartmentName').value;
			const errorElement = document.getElementById(type === 'add' ? 'departmentError' : 'editdepartmentError');

			if (department.length < 5 || department.length > 255) {
				errorElement.textContent = 'Please enter a meaningful department';
			} else {
				errorElement.textContent = '';
			}
		}

		function validateDetails(type) {
			const details = document.getElementById(type === 'add' ? 'details' : 'editdepartmentDetails').value;
			const errorElement = document.getElementById(type === 'add' ? 'detailsError' : 'editdetailsError');

			if (details.length < 10 || details.length > 255) {
				errorElement.textContent = 'Please enter meaningful details of department';
			} else {
				errorElement.textContent = '';
			}
		}

		function validateForm(type) {
			const department = document.getElementById(type === 'add' ? 'department' : 'editdepartmentName').value;
			const details = document.getElementById(type === 'add' ? 'details' : 'editdepartmentDetails').value;
			const dropdownValid = validateDropdown(type);
			let isValid = true;

			if (department.length < 5 || department.length > 255) {
				validateDepartment(type);
				isValid = false;
			}

			if (details.length < 10 || details.length > 255) {
				validateDetails(type);
				isValid = false;
			}

			return isValid && dropdownValid;
		}

		document.getElementById('faculty').addEventListener('change', function() {
		    var selectedFacultyId = this.value;
		    document.getElementById('facultyid').value = selectedFacultyId;
		});

		document.getElementById('department').addEventListener('blur', function () { validateDepartment('add'); });
		document.getElementById('details').addEventListener('blur', function () { validateDetails('add'); });
		document.getElementById('editdepartmentName').addEventListener('blur', function () { validateDepartment('edit'); });
		document.getElementById('editdepartmentDetails').addEventListener('blur', function () { validateDetails('edit'); });
		
		</script>
		
		<script>

		document.addEventListener('DOMContentLoaded', function () {
			var editdepartmentModal = document.getElementById('editdepartmentModal');

			editdepartmentModal.addEventListener('show.bs.modal', function (event) {
			    var button = event.relatedTarget;
			    var editdepartmentid = button.getAttribute('data-departmentid');
			    var editeditdepartmentid = document.getElementById('editdepartmentid');
			    var editfacultyName = document.getElementById('editfacultyName');
			    var editdepartmentName = document.getElementById('editdepartmentName');
			    var editdepartmentDetails = document.getElementById('editdepartmentDetails');
			    var editdepartmentActive = document.getElementById('editdepartmentActive');

			    editeditdepartmentid.value = editdepartmentid;

			    var row = button.closest('tr');
			    editdepartmentName.value = row.querySelector('td:nth-child(1)').textContent.trim();
			    var facultyId = row.querySelector('td:nth-child(2)').getAttribute('data-facultyid'); 
			    editfacultyName.value = facultyId;

			    editdepartmentDetails.value = row.querySelector('td:nth-child(3)').textContent.trim();
			    editdepartmentActive.checked = row.querySelector('.badge-success') !== null;
			});


			var deletedepartmentModal = document.getElementById('deletedepartmentModal');
			deletedepartmentModal.addEventListener('show.bs.modal', function (event) {
				var button = event.relatedTarget;
				var departmentid = button.getAttribute('data-departmentid');

				var deletedepartmentid = document.getElementById('deletedepartmentid');
				deletedepartmentid.value = departmentid;
			});
		});

		function deleteDepartment() {
			document.getElementById('deletedepartmentForm').submit();
		}
	</script>

	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.umd.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<script src="assets/js/main.js"></script>

</body>

</html>
